
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import "tailwindcss";

@theme {
  /* Text */
  --font-heading: 'Syne', system-ui, sans-serif;
  --font-body:"DM Mono", monospace;

  /* UI Pallete */
  --color-background: #0a0a0a;
  --color-lime:#ccff00;
  --color-hotpink:#ff2d78;
  --color-offwhite:#f5f5f0;
  --color-card:#0d0d0d;
  --color-muted:#555556;

}

body{
background-color: #0a0a0a
}

/* Background grid for landing page */
.hero-grid {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image:
    linear-gradient(rgba(204,255,0,0.035) 1px, transparent 1px),
    linear-gradient(90deg, rgba(204,255,0,0.035) 1px, transparent 1px);
  background-size: 72px 72px;
}

/* Primary Button hover */
.button-hover {
  transition: all 0.3s ease;
}
.button-hover:hover {
  background-color: #ffffff;
  box-shadow: 4px 4px 0px #ccff00;
  transform: translate(-2px, -2px);
}

/* Secondary Button hover */
.secondary-button-hover{
    transition: all 0.3s ease;

}
.secondary-button-hover:hover{
color: var(--color-hotpink);
box-shadow: 4px 4px 0px var(--color-hotpink);
border: 1px solid var(--color-hotpink);
  transform: translate(-2px, -2px);

}

/* Code card linear gradient shadow*/
.code-card-shadow{
border: 1px solid transparent;
  background: 
    linear-gradient(#0a0a0a, #0a0a0a) padding-box,
    linear-gradient(135deg, var(--color-lime) 0%, transparent 50%, var(--color-hotpink) 100%) border-box;
  }
